.techfont
{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin-bottom:10px;
}
.bigbrand
{
  font-size: 1.5em;
}
.centerstage
{
  margin-left:auto;
  margin-right:auto;
}
.postdate
{
  text-align: center;
}
.posttitle
{
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  text-align: center;
}
.postcontent
{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}
.btn-comment
{
  position:absolute;
  right:0px;
}
